doctype html
html
    head
        meta(charset='UTF-8')
        script(src='/js/EmployeeScript.js')
        //<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        //<script src=""js/query-2.1.4.min.js>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        link(rel="stylesheet" href="/css/EmployeeView.css")
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    body
        include html/nav.html
        h2 Welcome employeeName
            br
            br
            div ID: id
            div Role: role
            div Supervisor: supervisor
            div Supervisor ID: supervisor id
            div Anniversary Date: mm/dd/yyy
        h1 PTO Info
        h2
            br
            div.row
                div.column Personal
                    //canvas(id="myChart" style="width:20%;max-width:100px")
                    div.donut
                        div.hole

                div.column Sick

                    div.donut
                        div.hole

                div.column Vacation
                    div.donut
                        div.hole

                div.column Total
                    div.donut
                        div.hole

                div.legend
                    div.segment1
                        div Used
                    div.segment3
                        div Available
        h1 Requests
        h2
            br
            table.table
                tr
                    th Date Off
                    th PTO Type
                    th Status
                    th Request Date
                tr
                    td 11/10/2022
                    td Vacation
                    td Requested
                    td 10/10/2022
                tr
                    td 11/11/2022
                    td Vacation
                    td Requested
                    td 10/10/2022

        h3
            button.b1(class='btn btn-success' type='button' value='Request' onclick='') Request