doctype html
html
    head
        meta(charset='UTF-8')
        link(rel="stylesheet" href="/css/myStyles.css")
    body
        div.login
            h2.h2 Welcome to Aldi
            form(action = "/LogIn" method = "post")
                label.label(for="userId") User Id:
                input.input(type="text" name="userId" value="userId")
                br
                Label.label(for="password") Password:
                input.input(type="password" name="password" value="password")
                br
                button.button(type='submit' name="LogIn" value="LogIn") Submit
                a.a(href='/signup') Signup

