doctype html
html
    head
        meta(charset='UTF-8')
        script(src='/js/EmployeeScript.js')
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        link(rel="stylesheet" href="/css/ManagerView.css")
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    body
        style.
            button {
                border-radius: 30px;
                padding: 5px 15px 5px 15px;
                margin: 2px 25px 2px 25px;
                background-color: #dddddd;
                font-size: 11pt;
            }
        include html/ManagerNav.html
        each row in info
        h1 Manager #{row.FirstName} #{row.LastName} Pending Requests
        h5 ID: #{row.LeaderId} | #{row.Email}
        br
        h3
            p Pending Requests
            table
                tr
                    th Employee Name
                    th Start Date
                    th End Date
                    th PTO Type
                    th Reasoning
                    th Status
                tr
                    td Lucy Walhershon
                    td 05/05/2022
                    td 05/11/2022
                    td Vacation
                    td Blah Blah Blah
                    td Pending ...
            br
            table
                tr
                    th Employee Name
                    th Start Date
                    th End Date
                    th PTO Type
                    th Reasoning
                    th Status
                tr
                    td Jake Hansell
                    td 07/08/2022
                    td 07/10/2022
                    td Sick
                    td Blah Blah Blah
                    td Pending ...
            br
            table
                tr
                    th Employee Name
                    th Start Date
                    th End Date
                    th PTO Type
                    th Reasoning
                    th Status
                    th Response
                tr
                    td Jamie Walters
                    td 02/09/2022
                    td 02/13/2022
                    td Personal
                    td Blah Blah Blah
                    td Pended
                    td
                        button Response
            br
            table
                tr
                    th Employee Name
                    th Start Date
                    th End Date
                    th PTO Type
                    th Reasoning
                    th Status
                tr
                    td Matthew Thomson
                    td 08/13/2022
                    td 08/15/2022
                    td Sick
                    td Blah Blah Blah
                    td Pending ...
