doctype html
html
    head
        meta(charset='UTF-8')
        script(src='/js/EmployeeScript.js')
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        link(rel="stylesheet" href="/css/EmployeeView.css")
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    body
        include html/nav.html
        div
            h1 Request Form
            h2
                br
                br
                form(action = "/EmployeePTO/Request" method = "Post")
                    label.label Start Date:
                    input.input(type='text' name='startDate' value='startDate')
                    br
                    br
                    Label.label End Date:
                    input.input(type='text' name='endDate' value='endDate')
                    br
                    br
                    label.label PTO Type:
                    select(name="ptoType" id="selectPto")
                        option(value="vacation" name='vacation' selected="selected") Vacation
                        option(value="sick" name='sick' ) Sick
                        option(value="personal" name='personal') Personal
                    br
                    br
                    Label.label Reason:
                    textarea.input( name='reason' rows="4" cols="50")
                    br
                    br
                    button.b2(class='btn btn-success' type='submit') Submit