body{
    /*background-image: linear-gradient(to right, #FA8214, #C80000);*/
    /*background-color: whitesmoke;*/
    background-color: aliceblue;
}
h1{
    text-align: center;
    padding-top: 20px;
}
h2{
    text-align: center;
    border-radius: 25px;
    /*border: 1px solid black;*/
    padding:20px 50px 75px 50px;
    font-size: 18pt;
    margin: 25px 200px 25px 200px;
    /*background-image: linear-gradient(to right, #00B4DC , #4169B9, #001E78);*/
    background-color: #dddddd;
}
p1{
    text-align: center;
    /*border: 1px solid black;*/
    /*padding:75px 50px 75px 50px;*/
    /*font-size: 18pt;*/
}
.column {
    float: left;
    width: 25%;
}
h3{
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.label{
    font-size: 20px;
    text-align: left;
    display: block;
    /*color: white;*/
    margin-left: 20px;
}
.input {
    text-align: center;
    width: 60%;
    padding: 6px 10px;
    /*margin: 10px;*/
    margin-left: 20px;
    margin-top: 10px;
    /*border: 1px solid? #ddd;*/
    box-sizing: border-box;
    /*display: block;*/
}
.table,th,td{
    border: 1px solid black;
}
.donut{
    margin-left: 50px;
    width: 150px; height: 150px;
    border-radius: 100px;

    background: conic-gradient(
    blue 0deg 180deg,
    red 180deg 360deg

    );
    display: flex;
    align-items: center;
    justify-content: center;
}
.hole {
    width: 75px; height: 75px;
    border-radius: 50%;
    background: #fff;
}
.legend{
    display: flex;
    margin-top: 70px;
    margin-left: 425px;
}
.legend div{
    padding: 1px 2px;
}
.segment1{
    background: red;
}
.segment3{
    background: blue;
}