body{
    background-image: url("healthy-aldi-finds-coming-to-store-copy.jpg");
    background-size: 1540px;
}
.login {
    max-width: 400px;
    /*margin: 100px;*/
    margin: 115px auto;
    padding: 25px;
    background-image: url("ASG_SER_MC_RGB.png");
    background-size: 450px;
}
.label {
    font-size: 20px;
   text-align: left;
    display: block;
    color: white;
}
.h2 {
    font-size: 45px;
    color: #f1356d;
    margin-bottom: 30px;
    text-align: center;
}
.input {
    text-align: center;
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}