body{
    background-image: url("healthy-aldi-finds-coming-to-store-copy.jpg");
    background-size: 1540px;
}
.login {
    max-width: 400px;
    margin: 115px auto;
    padding: 25px;
    background-image: url("ASG_SER_MC_RGB.png");
    background-size: 450px;
}
.label {
    font-size: 20px;
    text-align: left;
    display: block;
    color: white;
    margin-left: 20px;

}
.h2 {
    font-size: 45px;
    color: #FFB428;
    margin-bottom: 30px;
    text-align: center;
}
.input {
    text-align: center;
    width: 90%;
    padding: 6px 10px;
    /*margin: 10px;*/
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.button {
    background: #C80000;
    color: #fff;
    border: 0;
    padding: 8px;
    margin-left: 20px;
    margin-bottom: 85px;
    border-radius: 8px;
    cursor: pointer;
}