<nav class="navbar navbar-expand-lg navbar-dark" style="padding: 20px; background-image: linear-gradient(to right, #00B4DC , #4169B9, #001E78)">
    <img src="/css/aldi_logo1.png" width="150px" height="65px" alt="aldi_logo" style="margin-right: 20px">
    <a class="navbar-brand" href="/ManagerPTO">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/ManagerPTO/RequestManager">My Request</a>
            <a class="nav-item nav-link" href="/ManagerPTO/WorkersRequestManager">Employees Requests</a>
            <a class="nav-item nav-link" href="/ManagerPTO/PendingRequestManager">Pending Requests</a>
            <div class="dropdown">
                <a class="nav-item nav-link drop" href="/ManagerPTO/ResponseManager">Response
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="/ManagerPTO/ResponseManager">My Response</a>
                    <a href="/ManagerPTO/ResponseEmpManager">Employee Response</a>
                    <a href="/ManagerPTO/ResponsePending">Pending Response</a>
                </div>
            </div>
        </div>
    </div>
    <form class="form-inline" method="get" >
        <button class="btn btn-outline-success" type="button">Logout</button>
    </form>
</nav>