<nav class="navbar navbar-expand-lg navbar-dark" style="padding: 20px; background-image: linear-gradient(to right, #00B4DC , #4169B9, #001E78)">
    <img src="/css/aldi_logo1.png" width="150px" height="65px" alt="aldi_logo" style="margin-right: 20px">
    <a class="navbar-brand" href="/EmployeePTO">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/EmployeePTO/Request">Request</a>
            <a class="nav-item nav-link" href="#">Calendar</a>
        </div>
    </div>
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Logout</button>
    </form>
</nav>