<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: orange">
    <img src="/aldi_logo1.png" width="150px" height="65px" alt="aldi_logo">
    <a class="navbar-brand" href="/EmployeePTO">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/EmployeePTO/Request">Request</a>
            <a class="nav-item nav-link" href="/EmployeePTO/History">History</a>
        </div>
    </div>
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Logout</button>
    </form>
</nav>